<div class="container-fluid">
    <div class="row justify-content-md-between d-sm-flex">
        <div class="col-lg-7">
                        <table class="table table-responsive table-striped table-hover shadow p-3 mb-5 bg-body rounded border border-light">
                            <thead>
                              <tr >
                                <th scope="col">{{displayColumns[0]}}</th>
                                <th scope="col">{{displayColumns[1]}}</th>
                                <th scope="col">{{displayColumns[2]}}</th>
                                <th scope="col">{{displayColumns[3]}}</th>
                                <th scope="col">{{displayColumns[4]}}</th>
                                <th scope="col">{{displayColumns[5]}}</th>
                       
                              </tr>
                            </thead>
                            <tbody>
                                <tbody>
                                    <tr *ngFor="let admin of adminDetail">
                                      <td>{{admin.name}}</td>
                                      <td>{{admin.email}}</td>
                                      <td>{{admin.phone}}</td>
                                      <td>{{admin.address}}</td>
                                      <td>{{admin.password}}</td>
                                    </tr>
                                  </tbody>
                          </table>
        </div>
            <div class="col-lg-5">
                <div class="card  shadow p-3 mb-5 bg-body rounded border border-light  justify-content-end">
                    
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-5">Add New Admin:</h5>
                        <form action="" [formGroup]="adminForm">
                        <div class="mb-2 mt-2">
                            <label for="text" class="form-label">Name:</label>
                            <input  type="text"  class="form-control" id="first-name" placeholder="Enter First Name"
                               formControlName ="name">
                        </div>
                        <div class="mb-2 mt-2">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="user-email" placeholder="Enter Email" formControlName="email">
                        </div>
                        <div class="mb-2 mt-2">
                            <label for="text" class="form-label">Phone Number:</label>
                            <input type="text" class="form-control" id="user-phone" placeholder="Enter Phone Number"
                                formControlName="phone">
                        </div>
                        <div class="mb-2 mt-2">
                            <label for="text" class="form-label">Address:</label>
                            <input type="text" class="form-control" id="user-address" placeholder="Enter Address"
                                formControlName="address">
                        </div>
                        <div class="mb-2 mt-2">
                            <label for="pwd" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter Password"
                                formControlName="password">
                        </div>
                        <div  class="mb-2 mt-2">
                            <button type="submit" [disabled]="!adminForm.valid" (click)="postData()" class="btn btn-outline-primary">Submit</button>
                            <button type="submit" (click)="resetData()"class="btn btn-outline-secondaryv mx-2">Reset</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>

             
       </div>
    </div>