<div class="container-fluid g-0">
  <div *ngIf="success" class="alert alert-success alert-dismissible fade show mt-1" role="alert">
    <strong>{{success}}</strong>
</div>
    <main>
        <div class="toolbar">

            <div class="add-activity">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Activity</button>
            </div>

        </div>
        <div class="activity black-border">
            <div class="row mt-5" *ngIf="firstHalf.length == 0 && secondHalf.length == 0">

                <div class="col text-enter">
                    <span class="text-secondary fs-2 fw-bold fst-italic">There are no activity is added</span>
                </div>
            </div>
        </div>

            <div class="container-fluid ">    
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card mt-2 shadow-sm p-3 mb-5 bg-white rounded border-light text-center" *ngFor="let act of firstHalf; let acti = index">
                      <div class="card-body">
                        <h5 class="card-title">Activity Discription :</h5>
                        <p class="card-text">{{act.activitydiscription | titlecase}}</p>
                        <h5 class="card-title">Activity Time :</h5>
                        <p class="card-text">{{act.activitytime}}</p>
                        <h5  class="card-title">Activity Priority :</h5>
                        <p class="card-text text-danger fw-bold" [class]="success">{{act.activitypriority | uppercase}}</p>
                        <h5 class="card-title">Activity Assign By :</h5>
                        <p class="card-text ">{{act.assignbyemail}}</p>
                        <h5 class="card-title">Activity Assign To :</h5>
                        <p class="card-text">{{act.assigntoemail}}</p>
                        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editAct(act)">Edit</button>
                        <button class="btn btn-outline-danger mx-2" (click)="delActivity(act.id)">Delete</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card mt-2 shadow-sm p-3 mb-5 bg-white rounded border-light text-center" *ngFor="let act of secondHalf; let acti = index">
                      <div class="card-body">
                        <h5 class="card-title">Activity Discription :</h5>
                        <p class="card-text">{{act.activitydiscription}}</p>
                        <h5 class="card-title">Activity Time :</h5>
                        <p class="card-text">{{act.activitytime}}</p>
                        <h5  class="card-title">Activity Priority :</h5>
                        <p class="card-text text-danger fw-bold" [ngClass]="{'badge-danger' : 'act.activitypriority == urgent',
                        'badge-success' : 'act.activitypriority == normal',
                        'badge-warning' : 'act.activitypriority == moderate'}">{{act.activitypriority | uppercase}}</p>
                        <h5 class="card-title">Activity Assign By :</h5>
                        <p class="card-text ">{{act.assignbyemail}}</p>
                        <h5 class="card-title">Activity Assign To :</h5>
                        <p class="card-text">{{act.assigntoemail}}</p>
                        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editAct(act)">Edit</button>
                        <button  class="btn btn-outline-danger mx-2" (click)="delActivity(act.id)">Delete</button>
                      </div>
                    </div>
                  </div>
              </div>
            </div>


     
    </main>

</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Activity Assignment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="activityForm">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Activity Discription</label>
                        <textarea class="form-control" formControlName = "activitydiscription" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <div class="row">
                        <div class="col">
                            <label class="form-label">Activity Time</label>
                             <input type="time" formControlName = "activitytime" class="form-control" id="appt" name="appt">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                            <div>
                                <label class="form-label mt-2">Activity Priority</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" formControlName = "activitypriority" type="radio"  id="inlineRadio1" value="normal">
                                <label class="form-check-label" for="inlineRadio1">Normal</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" formControlName = "activitypriority" type="radio"  id="inlineRadio2" value="moderate">
                                <label class="form-check-label" for="inlineRadio2">Moderate</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" formControlName = "activitypriority" type="radio" id="inlineRadio3" value="urgent">
                                <label class="form-check-label" for="inlineRadio3">Urgent</label>
                              </div>

                      </div>
                      </div>
                      <div class="row">
                        <div class="col">
                            <div class="mt-2">
                                <label for="exampleFormControlInput1" class="form-label">Assign By Email address</label>
                                <input type="email" class="form-control" formControlName = "assignbyemail" id="exampleFormControlInput1" placeholder="Enter the Email">
                              </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                            <div class="mb-3 mt-2">
                                <label for="exampleFormControlInput1" class="form-label">Assign To Email address</label>
                                <input type="email" class="form-control" formControlName = "assigntoemail" id="exampleFormControlInput1" placeholder="Enter the Email">
                              </div>
                        </div>
                      </div>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" [disabled]="!activityForm.valid" (click)="postData()">Insert</button>
          <button type="button" class="btn btn-warning" (click)="reset()">Clear</button>
        </div>
      </div>
    </div>
  </div>